@import "~flexboxgrid";

.registry-search-widget {
  .semiTransparentIcon {
    opacity: 0.3;
    transition: opacity 0.5s;

    &:hover {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}